#ignore misc BYOND files
Thumbs.db
*.log
*.int
*.rsc
*.rej
*.dmb
*.lk
*.backup
*.db
*.db-shm
*.db-wal
data/
cfg/
tools/Runtime Condenser/Input.txt
tools/Runtime Condenser/Output.txt
tools/MapDaemon/logs/*.txt
sound/music/*.ogg
sound/music/walkman/*/*.ogg
sound/music/walkman/*.txt
icons/custom/*
maps/**/backup
*.json
*.before
__pycache__
test_environment.txt

*.vscode/*
!/.vscode/extensions.json
MyzondlyaCM/aliens enter to bort almaer.ogg
MyzondlyaCM/Bwoink_dont_play.ogg
MyzondlyaCM/directed by robert b.8 sec.ogg
MyzondlyaCM/Directed_by_Robert_B_Weide_theme.ogg
MyzondlyaCM/djungli_nochy.ogg
MyzondlyaCM/gitar Directed by Robert B.16 sec.ogg
MyzondlyaCM/good.ogg
MyzondlyaCM/gyl_vetra_po_pustymo_corably.ogg
MyzondlyaCM/Half-Life_2.ogg
MyzondlyaCM/horror-metall_forextendermode.ogg
MyzondlyaCM/horror_exo.ogg
MyzondlyaCM/horror_metall_scresh.ogg
MyzondlyaCM/Hot Plates.ogg
MyzondlyaCM/Icon Trailer Music (Rebellion) - The Glory of Victory_(Axia-Audio2.ru).ogg
MyzondlyaCM/Icon Trailer Music - The Glory of Victory_(Axia-Audio2.ru).ogg
MyzondlyaCM/In_the_end_INSTRUMENTAL.ogg
MyzondlyaCM/Judge Bitch - Hot Plates_(Inkompmusic.ru).ogg
MyzondlyaCM/les.ogg
MyzondlyaCM/les_vesen.ogg
MyzondlyaCM/muzlome_Powerwolf_-_Sanctus_Dominus_57593454.ogg
MyzondlyaCM/Powerwolf_-_Sanctus_Dominus.ogg
MyzondlyaCM/Rolling Stones, The - Paint It Black (minus 4).ogg
MyzondlyaCM/Rolling Stones, The - Paint It Black.ogg
MyzondlyaCM/Sabaton_-_Resist_and_Bite_hitov.net.ogg
MyzondlyaCM/strashnaya-muzykapiano.ogg
MyzondlyaCM/the end, selfdestract lost.ogg
MyzondlyaCM/The Glory of Victory v1.ogg
MyzondlyaCM/The Glory of Victory v2.ogg
MyzondlyaCM/the_end!!!.ogg
MyzondlyaCM/Two_Steps_From_Hell_Victory.ogg
MyzondlyaCM/veter.ogg
MyzondlyaCM/vomit.ogg
MyzondlyaCM/water_horror.ogg
MyzondlyaCM/zvuk-horrora-sintezator-arfa.ogg
MyzondlyaCM/zvuk-horrora-skripka.ogg
